<h1>Found a new village</h1>
<%= form_for Village.new, :url => {:controller => :village, :action => :found} do |f| %>
  <%= f.hidden_field :fjord_id, :value => @fjord.id %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.submit %>
<% end %>