<pre><%= @village.inspect.gsub(',', ",\n") %></pre>

buildings:
<% @village.buildings.each do |building| %>
<pre><%= building.inspect.gsub(',', ",\n") %></pre>
<% end %>

<script type="text/javascript" charset="utf-8">
  function toggle_task_form(id) { 
    $("div.new-building-form").hide();
    $("div.building-form").hide();
    $("div#building-form-" + id).toggle();
  }
  function toggle_build_form(x,y) {
    $("div.new-building-form").hide();
    $("div.building-form").hide();
    $("div#new-building-form-" + x + "-" + y).toggle(); 
  }
</script>

<div id="village" style="position:relative; width:<%= Village::WIDTH %>px; height:<%= Village::HEIGHT %>px; border: solid white 1px">
  <% 1.upto(@village.width) do |x| %>
    <% 1.upto(@village.height) do |y|%>
      <% if building = @village.building_at(x,y) %>
        <a onClick="toggle_task_form(<%= building.id %>)">
          <div id="building-<%= building.id %>" class="building" style="
          left:<%= (building.x - 1) * Building::SIZE.first %>px; 
          top:<%= (building.y - 1) * Building::SIZE.last %>px; 
          width:<%= Building::SIZE.first%>px" class="doit"><%= building.class::KEY %></div>
        </a>
      <% else %>
        <a onClick="toggle_build_form(<%= x %>, <%= y %>)">
          <div id="building-<%= x %>-<%= y %>" class="empty" style="
            left:<%= (x - 1) * Building::SIZE.first %>px; 
            top:<%= (y - 1) * Building::SIZE.last %>px; 
            width:<%= Building::SIZE.first%>px" class="doit">empty</div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% 1.upto(@village.width) do |x| %>
  <% 1.upto(@village.height) do |y|%>
    <% if building = @village.building_at(x,y) %>
      <div id="building-form-<%= building.id %>" class="building-form">
        <%= form_for building, :url => {:controller => "building", :action => "assign", :id => building.id} do |f| %>
          <%= f.label :task %>
          <%= select :building, :task, Building::TASKS[building.type].collect { |n| [n , n] }, :selected => building.task %>
          <%= f.submit "do" %></p>
        <% end %>
      </div>
      <script type="text/javascript" charset="utf-8">$("#building-form-<%= building.id %>").hide();</script>
    <% else %>
      <div id="new-building-form-<%= x %>-<%= y %>" class="new-building-form">
        <%= form_for Building.new, :url => {:controller => "building", :action => "build", :id => @village.id}, :method => :post do |f| %>
          <%= f.hidden_field :x, :value => x %>
          <%= f.hidden_field :y, :value => y %>
          <%= f.label :task %>
          <%= select :building, :type, Building::TASKS.keys.collect { |n| [n , n] } %>
          <%= f.submit "do" %></p>
        <% end %>
      </div>
      <script type="text/javascript" charset="utf-8">$("#new-building-form-<%= x %>-<%= y %>").hide();</script>
    <% end %>
  <% end %>
<% end %>

resources:
<pre><%= @village.resources.inspect.gsub(',', ",\n") %></pre>

villagers:
<% @village.villagers.each do |villager| %>
<pre><%= villager.inspect.gsub(',', ",\n") %></pre>
<% end %>